
@{
    ViewBag.Title = "Remove Existing Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Existing Role</h2>
<div class="jumbotron">
    <h2>Choose a Role to Remove</h2>
    @using (Html.BeginForm("RemoveExistingRoleCommit", "Admin"))
    {
        <fieldset>
            Roles
            @Html.DropDownList("Roles")
            <br />
            <input type="submit" value="Remove Role" />
        </fieldset>
    }
</div>
