@{
    ViewBag.Title = "The Good Samaritan - About";
}
<h2>About Us</h2>
<h3>Learn more about The Good Samaritan!</h3>

<p>We aim to help victims of abuse in the Lower Mainland, BC.</p>
<p>Whether you are a victim of family-related or gang violence,
   whether this is your first or hundredth claim, we are here to help.</p>
<p>We can process claims with or without police case files or court records.</p>
<p>@Html.ActionLink("Register today", "Register", "Account") and file your claim!</p>
